@import "~assets/css/common.css";

.box {
  width: 200px;
  height: 200px;
  background: url(./icon.jpg);
}

.assets-img {
  width: 200px;
  height: 200px;
  background: url(~assets/img/1.jpg);
}